.b-1 .b-block {
	padding-top: 50px;
	padding-bottom: 50px;
}
.b-1 h4 {
	display: block;
	font-family: 'Futura Light';
	color: rgb(166, 166, 166);
	line-height: 1.2;
	margin-left: 45px;
	text-align: left;
	margin-bottom: 30px;
}
.b-1 h1 {
	display: block;
	font-family: 'Futura Light';
	color: #000000;
	line-height: 1.2;
	margin-left: 45px;
	font-size: 36px;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 20px;
}
.b-1-buttons {
	margin-left: 45px;
}
.b-1-buttons a {
	display: inline-block;
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-family: 'Futura Light';
	vertical-align: top;
	padding: 0 0 0 30px;
	margin: 20px 21px 0;
	position: relative;
	text-align: left;
}
.b-1-buttons .all {
	padding: 0;
	margin-left: 0;
}
.b-1-buttons .rest {
	margin-right: 0;
}
.b-1-buttons a::after {
	content: '';
	position: absolute;
	left: 0;
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1-buttons a:hover:after {
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
}
.pam::after {
	background-image: url('../i/pamyatnik.png');
	width: 14px;
	height: 16px;
	top: 0;
}
.nadgr::after {
	background-image: url('../i/nadgrobie.png');
	width: 21px;
	height: 13px;
	top: 3px;
}
.mem-comp::after {
	background-image: url('../i/mem-complex.png');
	width: 21px;
	height: 19px;
	top: 2px;
}
.avt-work::after {
	background-image: url('../i/eskiz.png');
	width: 18px;
	height: 18px;
	top: 0;
}
.viz-3d::after {
	background-image: url('../i/3d-model.png');
	width: 18px;
	height: 18px;
	top: 0;
}
.rest::after {
	background-image: url('../i/rem-zahr.png');
	width: 19px;
	height: 19px;
	top: 0;
}
.b-1-dop-punkts {
	margin-left: 45px;
	margin-top: 30px;
}
.dop-punkt {
	display: block;
	float: left;
	margin-right: 10px;
	border: 1px solid rgb(236, 208, 133);
	border-radius: 12px;
	font-family: 'Futura Light';
	font-size: 14px;
	color: #000000;
	padding: 5px 10px;
}
.dop-punkt:hover, .dop-punkt.active {
	background-color: rgb(236, 208, 133);
}
.b-1-works {
	margin-left: 45px;
}
.pam-work {
	vertical-align: top;
	display: inline-block;
	max-width: 435px;
	width: 100%;
	padding-top: 110px;
	background-image: url("../i/work-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	height: 322px;
	margin: 30px auto 0;
}
.pam-work span {
	display: none;
	font-family: 'Futura Light';
	color: #ffffff;
	line-height: 1.2;
	font-size: 30px;
	margin-bottom: 20px;
}
.pam-work a {
	display: none;
	font-size: 20px;
	color: rgb(60, 186, 172);
	font-family: 'Futura Medium';
	border: 3px solid rgb(60, 186, 172);
	padding: 5px 30px;
	border-radius: 21px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.pam-work a:hover {
	background-color: rgb(60, 186, 172);
	color: #ffffff;
}
.pam-work.hover a {
	display: inline-block;
}
.pam-work.hover span {
	display: block;
}
.pam-work.hover {
	background-image: url("../i/work-img-h.jpg");
}
.b-1-works-nav {
	margin-left: 45px;
	text-align: center;
	margin-top: 20px;
}
.b-1-works-nav a {
	display: inline-block;
	margin: 20px 10px 0;
	width: 29px;
	height: 29px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 1px solid rgb(220, 190, 113);
	font-family: 'Futura Light';
	font-size: 16px;
	color: #000000;
	padding-top: 2px;
	vertical-align: top;
}
.b-1-works-nav a:hover, .b-1-works-nav a.active {
	background-color: rgb(220, 190, 113);
	color: #ffffff;
}

.b-2 {
	background-color: rgb(231, 240, 239);
}
.b-2 .b-block {
	padding-top: 50px;
	padding-bottom: 90px;
}
.b-2 h2 {
	display: block;
	text-align: left;
	color: #000000;
	font-size: 38px;
	line-height: 1.2;
	font-family: 'Futura Light';
	margin-left: 45px;
	margin-bottom: 50px;
}
.b-2 p {
	display: block;
	text-align: left;
	color: #000000;
	font-family: 'Futura Light';
	line-height: 1.2;
	font-size: 18px;
	margin-left: 45px;
}

@media screen and (max-width: 1247px) {
	.b-1-buttons a {
		margin: 20px 10px 0;
	}
}
@media screen and (max-width: 767px) {
	.b-1 h4, .b-1 h1, .b-2 h2, .b-2 p, .b-1-buttons, .b-1-works-nav, .b-1-works {
		margin-left: 0;
	}
}