.pam-works {
	width: 100%;
	position: relative;
	text-align: center;
}
.pam-work {
	vertical-align: top;
	display: inline-block;
	max-width: 435px;
	width: 100%;
	padding-top: 110px;
	background-image: url("../i/work-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	height: 322px;
	margin: 30px 10px 0;
}
.pam-work span {
	display: none;
	font-family: 'Futura Light';
	color: #ffffff;
	line-height: 1.2;
	font-size: 30px;
	margin-bottom: 20px;
}
.pam-work a {
	display: none;
	font-size: 20px;
	color: rgb(60, 186, 172);
	font-family: 'Futura Medium';
	border: 3px solid rgb(60, 186, 172);
	padding: 5px 30px;
	border-radius: 21px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.pam-work a:hover {
	background-color: rgb(60, 186, 172);
	color: #ffffff;
}
.pam-work.hover a {
	display: inline-block;
}
.pam-work.hover span {
	display: block;
}
.pam-work.hover {
	background-image: url("../i/work-img-h.jpg");
}