.b-1 {
	background-image: url("../i/index-b-1-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.b-1 .b-block {
	padding-top: 50px;
	padding-bottom: 50px;
}
.b-1 h4 {
	display: block;
	font-family: 'Futura Light';
	color: rgb(166, 166, 166);
	line-height: 1.2;
	margin-left: 45px;
	text-align: left;
	margin-bottom: 30px;
}
.b-1 h1 {
	display: block;
	font-family: 'Futura Light';
	color: #ffffff;
	line-height: 1.2;
	margin-left: 45px;
	font-size: 36px;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 20px;
}
.b-1-slider {
	max-width: 897px;
	width: auto;
	margin-left: 45px;
	position: relative;
}
.b-1-slide img {
	display: block;
	width: 100%;
}
.b-1-slider .slick-arrow {
	font-size: 0;
	border: 0;
	background-color: transparent;
	display: block;
	position: absolute;
	width: 18px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	top: calc(50% - 15px);
	z-index: 100;
}
.b-1-slider .slick-prev {
	background-image: url("../i/index-b-1-slick-arr-prev.png");
	left: 15px;
}
.b-1-slider .slick-next {
	background-image: url("../i/index-b-1-slick-arr-next.png");
	right: 15px;
}
.b-1-slider .slick-prev:hover {
	background-image: url("../i/index-b-1-slick-arr-prev-h.png");
}
.b-1-slider .slick-next:hover {
	background-image: url("../i/index-b-1-slick-arr-next-h.png");
}
.b-1-slider .slick-dots li {
	display: inline-block;
}
.b-1-slider .slick-dots li button {
	font-size: 0;
	background-color: transparent;
	border: 2px solid rgb(70, 70, 70);
	border-radius: 50%;
	width: 11px;
	height: 11px;
	margin: 0 5px;
}
.b-1-slider .slick-dots li.slick-active button {
	background-color: rgb(70, 70, 70);
}
.b-1-slider .slick-dots li button:hover {
	cursor: pointer;
}
.b-1-slider .slick-dots {
	width: 100%;
	position: absolute;
	bottom: 20px;
	text-align: center;
}
.b-1 p {
	display: block;
	color: #ffffff;
	font-size: 16px;
	line-height: 1.2;
	text-align: left;
	font-family: 'Futura Light';
	margin-left: 45px;
	margin-top: 30px;
}
.b-1-info {
	margin-left: 45px;
}
.b-1-info-el {
	display: inline-block;
	margin: 35px 29px 0;
}
.el-1 {
	margin-left: 0;
}
.el-5 {
	margin-right: 0;
}
.b-1-info-el img {
	display: block;
	margin: 0 auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1-info-el img:hover {
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
}
.b-1-info-el span {
	display: block;
	color: #ffffff;
	font-family: 'Futura Light';
	line-height: 1.2;
	font-size: 16px;
	margin-top: 15px;
}

.b-2 .b-block {
	padding-top: 70px;
	padding-bottom: 90px;
}
.b-2 h2 {
	display: block;
	font-family: 'Futura Light';
	color: #000000;
	line-height: 1.2;
	font-size: 36px;
	text-transform: uppercase;
	margin-left: 45px;
	text-align: left;
}
.b-2-pam {
	display:inline-block;
	vertical-align: top;
	max-width: 434px;
	width: 100%;
	border: 2px dashed rgb(215, 215, 215);
	padding: 20px 10px 0;
	margin-top: 40px;
	box-sizing: border-box;
}
.b-2-pam h3 {
	display: block;
	color: #000000;
	font-family: 'Futura Light';
	line-height: 1.2;
	margin-bottom: 20px;
}
.pam-1, .pam-3, .pam-5, .pam-7 {
	margin-left: 45px;
}
.pam-2, .pam-4, .pam-6, .pam-8 {
	margin-left: 18px;
}
.b-2-pam img {
	display: block;
	margin: 0 auto;
}
.pam-1 img {
	max-width: 161px;
	margin-bottom: 35px;
}
.pam-2 img {
	max-width: 185px;
	margin-bottom: 35px;
}
.pam-3 img {
	max-width: 297px;
	margin-bottom: 80px;
}
.pam-4 img {
	max-width: 296px;
	margin-bottom: 35px;
}
.pam-5 img {
	max-width: 155px;
	margin-bottom: 35px;
}
.pam-6 img {
	max-width: 154px;
	margin-bottom: 37px;
}
.pam-7 img {
	max-width: 136px;
	margin-bottom: 35px;
}
.pam-8 img {
	max-width: 292px;
	margin-bottom: 68px;
}


.b-3 {
	background-color: rgb(231, 240, 239);
}
.b-3 .b-block {
	padding-top: 50px;
	padding-bottom: 90px;
}
.b-3 h2 {
	display: block;
	text-align: left;
	color: #000000;
	font-size: 38px;
	line-height: 1.2;
	font-family: 'Futura Light';
	margin-left: 45px;
	margin-bottom: 50px;
}
.b-3 p {
	display: block;
	text-align: left;
	color: #000000;
	font-family: 'Futura Light';
	line-height: 1.2;
	font-size: 18px;
	margin-left: 45px;
}
.b-2-pam a {
	display: inline-block;
	margin-bottom: 25px;
	font-size: 18px;
	color: #ffffff;
	font-family: 'Futura Light';
	padding: 8px 25px;
	background-color: rgb(55, 164, 152);
	border-radius: 20px;
}

@media screen and (max-width: 1247px) {
	.b-2-pam {
		margin: 40px auto 0;
	}
	.b-1-info-el {
		margin: 35px 10px 0;
	}
}
@media screen and (max-width: 767px) {
	.b-1-slide img {
		width: 180%;
	}
	.b-1 h4, .b-1 h1, .b-1 p, .b-1-info, .b-1-slider, .b-2 h2, .b-3 h2, .b-3 p {
		margin-left: 0;
	}
	.b-2-pam img {
		width: 100%;
	}
}